<ng-container *ngIf="!this.data.id_articulos && !viewMode; else editar">
    <h2 mat-dialog-title>NUEVO ARTICULO</h2>
    <br>
</ng-container>

<ng-template #editar>
    <ng-container *ngIf="this.data.id_articulos && !viewMode; else ver">
        <h2 mat-dialog-title>EDITAR ARTICULO</h2>
        <br>
    </ng-container>
</ng-template>

<ng-template #ver>
    <h2 mat-dialog-title>ARTICULO</h2>
    <br>
</ng-template>

<mat-dialog-content>
    <form class="example-form" [formGroup]="form">

        <table cellspacing="20">
            <tr>
                <td>
                    <mat-form-field>
                        <input formControlName="nombre" matInput placeholder="Nombre">
                    </mat-form-field>

                </td>
                <td>
                    <mat-form-field>
                        <input formControlName="cantidad" matInput placeholder="Stock Disponible">
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field>
                        <input formControlName="precio_unitario" matInput placeholder="Precio U.">
                    </mat-form-field>
                </td>
                <td>
                    <mat-label>Categoria</mat-label>
                    <mat-select formGroupName="categoria" [formControl]="id_categoria" [(value)]="this.data.categoria['id_categoria']">
                        <mat-option *ngFor="let categoria of listaCategoria" [value]="categoria.id_categoria">
                            {{categoria.nombre}}
                        </mat-option>
                    </mat-select>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field>
                        <input formControlName="descripcion" matInput placeholder="Descripcion">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <div class="footer-div-modal">
            <button (click)="onNoClick()" class="btn-margin" mat-raised-button color="primary">CANCELAR</button>
            <button *ngIf="!viewMode" (click)="guardarCambios()" class="btn-margin" mat-raised-button color="primary">ACEPTAR</button>
        </div>

    </form>
</mat-dialog-content>