<div class="container center">

    <div class="up-table-content">

        <div style="width: 350px;">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button (click)="articleNew()"> Nuevo articulo</button>
        </div>


    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id_articulos">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{ element.id_articulos }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="precio_unitario">
            <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
            <td mat-cell *matCellDef="let element"> {{ element.precio_unitario | currency }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{ element.categoria.nombre }}</td>
        </ng-container>

        <!-- options column -->
        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="articleDelete(element['id_articulos'])">
                        <mat-icon>delete</mat-icon>
                    </button>
                <button mat-icon-button (click)="articleEdit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                <button mat-icon-button (click)="articleView(element)">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>