<div class="main-container" >
  <form #f="ngForm" (ngSubmit)="login( f )">
    <mat-card >
        <mat-card-header>
            <mat-card-title>Ingresa a tu cuenta</mat-card-title>
        </mat-card-header>

        <p class="form-fields">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="ingresa tu email" required [(ngModel)]="usuario.email" name="email">
              <mat-error ></mat-error> <!--- usar esta linea para mostrar un error si la validacion falla--->
            </mat-form-field>

            <mat-form-field  appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="ingresa tu contraseña" [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.password"  name="password" required>
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
        </p>

        <div>
            <p>
                <mat-checkbox [(ngModel)]="recordarUsuario" name="remember-me">¿Recordar credenciales?</mat-checkbox>
                <a mat-button routerLink="/registro">¿no tienes cuenta?</a>
            </p>

            <div class="example-button-row">
                <button mat-flat-button color="primary" type="submit">Ingresar</button>
            </div>
        </div>

  </mat-card>
</form>
</div>
