.main-container {
    margin-top: 20px;
    display: grid;
    justify-content: center;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.example-button-row {
  display: flex;
  flex-direction: column;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
