<div class="main-container">
    <form [formGroup]="this.form">

        <div formGroupName="cliente">
            <mat-card-header formGroupName="empresa">
                <mat-card-title formControlName="nombre" ngDefaultControl matInput>Vedido a: {{ this.form.controls['cliente'].controls['empresa'].controls['nombre'].value }}</mat-card-title>
            </mat-card-header>
        </div>


        <p class="form-fields">
            <mat-form-field>
                <mat-label>Fecha de venta: </mat-label>
                <input formControlName="fecha_venta" ngDefaultControl matInput>
            </mat-form-field>
        </p>

        <ng-container formArrayName="ventas_items">

            <div *ngFor="let ventas of this.form.controls['ventas_items'].controls; let i = index" #enElFor [formGroupName]="i">
                <p class="form-fields" formGroupName="articulo" type="text">
                    <mat-form-field>
                        <mat-label>Precio unitario:</mat-label>
                        <input formControlName="precio_unitario" ngDefaultControl matInput>
                    </mat-form-field>
                </p>

                <p class="form-fields" type="text">
                    <mat-form-field>
                        <mat-label>Cantidad vendida:</mat-label>
                        <input formControlName="cantidad" ngDefaultControl matInput>
                    </mat-form-field>
                </p>

                <p class="form-fields" type="text">
                    <mat-form-field>
                        <mat-label>Total:</mat-label>
                        <input formControlName="total" ngDefaultControl matInput>
                    </mat-form-field>
                </p>
            </div>

        </ng-container>

        <div class="footer-div-modal">
            <button (click)="onNoClick()" class="btn-margin" mat-raised-button color="primary">CANCELAR</button>
        </div>

    </form>


</div>