<div class="main-container">
    <form [formGroup]="ventasForm">

        <mat-card-header>
            <mat-card-title formControlName="empresa" ngDefaultControl matInput>Vedido a: {{ ventasForm.controls['empresa'].value }}</mat-card-title>
        </mat-card-header>

        <p class="form-fields">
            <mat-form-field>
                <mat-label>Fecha de venta: </mat-label>
                <input formControlName="fecha_venta" ngDefaultControl matInput>
            </mat-form-field>
        </p>

        <ng-container formArrayName="ventas_items">

            <div *ngFor="let ventas of ventasForm.controls['ventas_items'].controls; let i = index" #enElFor [formGroupName]="i">
                <p class="form-fields" formGroupName="articulo" type="text">
                    <mat-form-field>
                        <mat-label>Precio unitario:</mat-label>
                        <input formControlName="precio_unitario" ngDefaultControl matInput>
                    </mat-form-field>
                </p>

                <p class="form-fields" type="text">
                    <mat-form-field>
                        <mat-label>Cantidad vendida:</mat-label>
                        <input formControlName="cantidad" ngDefaultControl matInput>
                    </mat-form-field>
                </p>

                <p class="form-fields" type="text">
                    <mat-form-field>
                        <mat-label>Total:</mat-label>
                        <input formControlName="total" ngDefaultControl matInput>
                    </mat-form-field>
                </p>
            </div>

        </ng-container>

    </form>


</div>